{% extends 'signalsection/base.html' %}
{% load crispy_forms_tags %}
{% crispy example_form %}
{% load static %}

{% block content %}

    <section class="page-info-section">
        <div class="container">
        </div>
        </section>

        <section class="process-section spad">
		<div class="container">
            <form method="POST">
            {% csrf_token %}
			<div class="section-title text-center">
				<h2>Delete Signal</h2>
                <h4>Are you sure you want to delete the Signal "{{ signal.category }}"</h4>
                <div class="col-md-12 text-center mt-3">
                    <button class="btn btn-outline-danger py-2 px-3" type='submit'>Yes, Delete</button>
                    <a class="btn btn-outline-secondary py-2 px-3" href="{% url 'dashboard' %}">Cancel</a>
                </div>
			</div>
            </form>
		</div>

    </section>

{% endblock content %}

