{% extends "signalsection/base.html" %}
{% load static %}


{% block content %}
        <section class="page-info-section">
        <div class="container">
        </div>
        </section>

        <section class="process-section spad">
		<div class="container">
			<div class="section-title text-center">
                <p>Your password has been set successfully</p>
                <div class="text-center">
                          <small class="text-muted text-right"><a href="{% url 'login' %}"> Sign In</a></small>
                </div>
			</div>
		</div>
        </section>
{% endblock %}