{% extends "signalsection/base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<section class="page-info-section">
    <div class="container">
    </div>
</section>

    <section class="contact-page spad ml-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <form method='POST' class="contact-form">
                    {% csrf_token %}
                    <div class="row justify-content-center">

                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>


                    </div>
                    <div class="col-md-12 text-center">
                        <button class="site-btn sb-gradients mt-4" type='submit'>Request Password Reset</button>
                    </div>

                    <div class="text-right pt-3">
                          <small class="text-muted text-right">Need An Account?<a href="{% url 'register' %}"> Sign Up</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}