{% extends "signalsection/base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<section class="page-info-section">
    <div class="container">
    </div>
</section>
    <section class="contact-page spad ml-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <form method='POST' class="contact-form">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form.newpassword1|crispy }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form.newpassword2|crispy }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="site-btn sb-gradients mt-4" type='submit'>Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
        

{% endblock %}